{{ if .IsHome }}
{{- $sameAs := slice -}}
{{- with site.Params.schema.sameAs -}}
  {{- range . -}}{{- $sameAs = $sameAs | append (trim . " ") -}}{{- end -}}
{{- else -}}
  {{- $sameAs = $sameAs | append ("/contact/" | absURL) -}}
{{- end -}}
<script type="application/ld+json">
{{- dict
  "@context" "https://schema.org"
  "@type" ((site.Params.schema.publisherType | default "Organization") | title)
  "name" site.Title
  "url" site.Home.Permalink
  "description" (site.Params.description | plainify | truncate 180)
  "logo" (site.Params.assets.favicon | default "favicon.ico" | absURL)
  "sameAs" $sameAs
| jsonify | safeJS -}}
</script>
{{- else if (or .IsPage .IsSection) }}
{{- $url := replace .Parent.Permalink (printf "%s" site.Home.Permalink) "" }}
{{- $lang_url := strings.TrimPrefix (printf "%s/" .Lang) $url }}
{{- $bc_list := split $lang_url "/" }}
{{- $scratch := newScratch }}
{{- $crumbs := slice -}}
{{- range $index, $element := $bc_list }}
  {{- $scratch.Add "path" (printf "%s/" $element) | safeJS }}
  {{- $bc_pg := site.GetPage ($scratch.Get "path") -}}
  {{- if and $bc_pg (gt (len .) 0) }}
    {{- $crumbs = $crumbs | append (dict
      "@type" "ListItem"
      "position" (add 1 $index)
      "name" $bc_pg.Name
      "item" $bc_pg.Permalink
    ) -}}
  {{- end }}
{{- end }}
{{- $crumbs = $crumbs | append (dict
  "@type" "ListItem"
  "position" (len $bc_list)
  "name" .Name
  "item" .Permalink
) -}}
<script type="application/ld+json">
{{- dict
  "@context" "https://schema.org"
  "@type" "BreadcrumbList"
  "itemListElement" $crumbs
| jsonify | safeJS -}}
</script>
{{- if and .IsPage (eq .Section "listings") }}
{{- $types := .Params.event_types | default slice -}}
{{- if not (reflect.IsSlice $types) -}}{{- $types = slice $types -}}{{- end -}}
{{- $www := strings.TrimSpace (.Params.www | default "") -}}
{{- if and $www (not (findRE "\\s|@" $www)) -}}
  {{- if not (or (hasPrefix $www "http://") (hasPrefix $www "https://")) -}}
    {{- $www = printf "https://%s" $www -}}
  {{- end -}}
{{- else -}}
  {{- $www = "" -}}
{{- end -}}
{{- $desc := "" -}}
{{- with .Description }}{{ $desc = . | plainify }}{{ else }}{{ $desc = .Plain | plainify | truncate 180 }}{{ end -}}
{{- $ld := dict
  "@context" "https://schema.org"
  "@type" "LocalBusiness"
  "name" (.Title | plainify)
  "url" .Permalink
  "description" $desc
-}}
{{- with index $types 0 -}}
  {{- $ld = merge $ld (dict "additionalType" .) -}}
{{- end -}}
{{- if or .Params.place .Params.address .Params.post_code .Params.county .Params.venue -}}
{{- $roiCounties := slice "Carlow" "Cavan" "Clare" "Cork" "Donegal" "Dublin" "Galway" "Kerry" "Kildare" "Kilkenny" "Laois" "Leitrim" "Limerick" "Longford" "Louth" "Mayo" "Meath" "Monaghan" "Offaly" "Roscommon" "Sligo" "Tipperary" "Waterford" "Westmeath" "Wexford" "Wicklow" -}}
{{- $addrCountry := "GB" -}}
{{- with .Params.county -}}
  {{- if in $roiCounties . -}}{{- $addrCountry = "IE" -}}{{- end -}}
{{- end -}}
{{- $addr := dict "@type" "PostalAddress" "addressCountry" $addrCountry -}}
  {{- with .Params.venue }}{{ $addr = merge $addr (dict "name" .) }}{{ end -}}
  {{- with .Params.address -}}
  {{- if not (findRE `^@\s*[+-]?\d{1,2}\.\d{3,}\s*,\s*[+-]?\d{1,3}\.\d{3,}\s*$` .) -}}
    {{- $addr = merge $addr (dict "streetAddress" .) -}}
  {{- end -}}
{{- end -}}
  {{- with .Params.place }}{{ $addr = merge $addr (dict "addressLocality" .) }}{{ end -}}
  {{- with .Params.county }}{{ $addr = merge $addr (dict "addressRegion" .) }}{{ end -}}
  {{- with .Params.post_code }}{{ $addr = merge $addr (dict "postalCode" .) }}{{ end -}}
  {{- $ld = merge $ld (dict "address" $addr) -}}
{{- end -}}
{{- if and .Params.lat .Params.lng -}}
  {{- $ld = merge $ld (dict "geo" (dict "@type" "GeoCoordinates" "latitude" .Params.lat "longitude" .Params.lng)) -}}
{{- end -}}
{{- if $www -}}
  {{- $ld = merge $ld (dict "sameAs" (slice $www)) -}}
{{- end -}}
<script type="application/ld+json">
{{- $ld | jsonify | safeJS -}}
</script>
{{- else if .IsPage }}
{{- $desc := "" -}}
{{- with .Description }}{{ $desc = . | plainify }}{{ else }}{{ $desc = .Plain | plainify | truncate 180 }}{{ end -}}
<script type="application/ld+json">
{{- dict
  "@context" "https://schema.org"
  "@type" "WebPage"
  "name" (.Title | plainify)
  "url" .Permalink
  "description" $desc
| jsonify | safeJS -}}
</script>
{{- end }}
{{- end -}}
